<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style>
    .caixas {
        display: flex;
        justify-content: space-between;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }
    .c1 {
        background-color: red;
    }
    .c2 {
        background-color: green;
    }
    .c3 {
        background-color: blue;
    }
    .girar {
        rotate: 45deg;
    }
</style>

<div id="app">
    <div class="caixas">
        <!--Aplicando diretamente-->
        <!--div class="demo" :class="{c1: aplicarC1, c2: !aplicarC1}" @click="aplicarC1 = !aplicarC1"></div-->
        <!--Aplicando pela propriedade vue computed.-->
        <div class="demo" :style="{'background-color': cor}"></div>
        <div class="demo" :style="[meuEstilo, {height: altura}]"></div>
        <div class="demo"></div>
    </div>
    <hr>
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            cor: 'red',
            largura: 100,
            altura: 20
        },
        computed: {
            meuEstilo() {
                return {
                    backgroundColor: this.cor,
                    width: this.largura + 'px'
                }
            }
        }
    })
</script>